doctype html
html
  head
    title= Retailers

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')

    // Favicon
    link(rel='icon' type='image/x-icon' href='/images/assets/favicon.ico')

    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js' crossorigin='anonymous')

    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')

    // Core theme CSS (includes Bootstrap)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')

    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.3/dist/leaflet.css' integrity='sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=' crossorigin='')

    // Make sure you put this AFTER Leaflet's CSS
    script(src='https://unpkg.com/leaflet@1.9.3/dist/leaflet.js' integrity='sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=' crossorigin='')

    
  body
    block content
